{% extends 'template.html.twig' %}

{% block title %}Hello PersonneController!
{% endblock %}

{% block body %}
	<div class="alert alert-success">
		<h1>{{personne.firstname}}</h1>
	</div>
{% endblock %}
